.Cake {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow-y: scroll;
  height: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-image: url("http://localhost:3000/assets/fruit-background.jpg");
    opacity: 0.2;
  }
}

.Cake ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.Cake .scale {
  scale: 0.5;
}

.Cake .scale-desktop {
  scale: 0.35;
}

@media only screen and (min-width: 768px) {
  .Cake .scale {
    scale: 1;
  }

  .Cake .scale-desktop {
    scale: 0.75;
  }
}
