.Header {
  background-image: url("../images/falling-fruit.gif");
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header h1 {
  font-family: "Fresh Fruit", sans-serif;
  font-size: 60px;
  color: orange;
  -webkit-text-stroke: 2px black;
  opacity: 0.7;
  margin: 15px;
}
