.LayerBuilder {
  width: 100%;
  margin: 0px;
}

.layer-info {
  display: flex;
  justify-content: space-between;
  border: solid black 1px;
  padding: 10px 20px 10px 20px;
  background-color: lightgreen;
}

#colorContainer {
  flex: 1;
}

#heightWidthContainer {
  flex: 1;
}

.LayerBuilder button {
  border: none;
  background-color: lightcoral;
}
.LayerBuilder button:hover {
  background-color: red;
}
