.LayerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid black 1px;
}

#saveButton,
#cancelButton {
  margin: 0 25px;
  padding: 5px 25px;
}
