.App {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .App {
    display: flex;
    flex-direction: row-reverse;
  }
  .App .Header {
    /* position: absolute;
    width: 100%; */
  }
  .App .Cake {
    flex: 2;
  }
  .App .CakeBuilder {
    flex: 1;
    /* margin-top: 80px; */
  }
}
