.App {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.App .Cake {
  height: 45vh;
}

.App .CakeBuilder {
  height: 45vh;
}

@media only screen and (min-width: 768px) {
  .App #content-container {
    display: flex;
    flex-direction: row-reverse;
    height: calc(100vh - 60px);
  }

  .App .Cake {
    flex: 2;
    height: 100%;
    overflow-y: scroll;
  }
  .App .CakeBuilder {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
  }
}
